
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.light {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: blue;
}
.red{
    background: red;
}
.blue{
    background: blue;
}
.green{
    background: green;
}

.glow{
    box-shadow: 0px 0px 9px 4px #747DE8;
}